* 
    margin: 0
    padding: 0


$color1: #25336F
$color2: #03243F    
$color3: #313940
$color4: #8C6F56 
$color5: #BFB3A8
// index inicia
.navbar
    background-color: $color3
    a
        color: $color5
    .navbar-toggler
        border: none
        text-decoration: none    
        font-size: 30px

.jae
    color: $color2

.sector-1
    text-align: center
    font-family: 'Bebas Neue', sans-serif
    background-color: $color3
    color: $color5
    h1
        font-size: 20rem
        line-height: 0.8
        padding-top: 80px
        width: 100%
    h2
        font-size: 270px
        line-height: 0.8
    h3
        font-size: 90px
        line-height: 0.8
        background-color: $color3
    .slogan
        p
        font-size: 20px
        width: 700px
        justify-content: center
    .calltext
        font-size: 30px

    
.redes
    position: absolute
    display: flex
    flex-direction: column
    top: 20%
    font-size: 40px
    a
        color: $color4


footer
    background-color: $color3
    color: $color5
    a
        color: $color5  

.footer-logo
    font-family: 'Bebas Neue', sans-serif
    color: $color5
    display: flex
    flex-direction: column
    .x1
        font-size: 150px
    .x2
        font-size: 75px
        line-height: 0.1 

.footernav        
    color: $color5
    padding: 20px

.footer-contacto
    padding: 20px
    color: $color5

.copyright
    text-align: center
    color: $color5
// index finaliza
// cv inicia
.box0
    background-color: $color3
.box1
    background-color: $color3
    padding: 50px
    .item
        height: 200px
        border: 1px solid $color2
        border-radius: 15px
        box-shadow: 3px 3px 5px $color2
    .item1
        object-fit: cover
        img
            width: 400px
        
            
// cv finaliza



// mediaQueries

@media (max-width: 600px)
    .redes
        top: 50%
    