* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #313940;
}
.navbar a {
  color: #BFB3A8;
}
.navbar .navbar-toggler {
  border: none;
  text-decoration: none;
  font-size: 30px;
}

.jae {
  color: #03243F;
}

.sector-1 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  background-color: #313940;
  color: #BFB3A8;
}
.sector-1 h1 {
  font-size: 20rem;
  line-height: 0.8;
  padding-top: 80px;
  width: 100%;
}
.sector-1 h2 {
  font-size: 270px;
  line-height: 0.8;
}
.sector-1 h3 {
  font-size: 90px;
  line-height: 0.8;
  background-color: #313940;
}

.slogan {
  padding-left: 250px;
  padding-right: 250px;
}

.calltext {
  font-size: 30px;
}

.redes {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 30%;
  font-size: 40px;
}
.redes a {
  color: #8C6F56;
}

footer {
  background-color: #313940;
  color: #BFB3A8;
}
footer a {
  color: #BFB3A8;
}

.footer-logo {
  font-family: "Bebas Neue", sans-serif;
  color: #BFB3A8;
  display: flex;
  flex-direction: column;
}
.footer-logo .x1 {
  font-size: 150px;
}
.footer-logo .x2 {
  font-size: 75px;
  line-height: 0.1;
}

.footernav {
  color: #BFB3A8;
  padding: 20px;
}

.footer-contacto {
  padding: 20px;
  color: #BFB3A8;
}

.copyright {
  text-align: center;
  color: #BFB3A8;
}

.box0 {
  background-color: #313940;
  font-family: "Source Code Pro", monospace;
}

.box1 {
  background-color: #313940;
  padding: 50px;
  color: #BFB3A8;
}
.box1 .item {
  height: 200px;
  border: 1px solid #03243F;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #03243F;
}
.box1 .item1 {
  overflow: hidden;
}
.box1 .item1 img {
  width: 100%;
  height: 100%;
  -o-border-image: 15px;
     border-image: 15px;
}
.box1 .item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box1 .item2 h5 {
  text-align: center;
  font-size: 70px;
  line-height: 0.9;
}
.box1 .item2 h6 {
  font-size: 60px;
  line-height: 0.9;
}
.box1 .item3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 .item3 ul {
  font-size: 30px;
}
.box1 .item3 ul li {
  font-size: 20px;
  line-height: 0.9;
}
.box1 .item4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box1 .item4 p {
  text-align: center;
  padding: 10px;
  line-height: 1.2;
}
.box1 .item5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box1 .item5 h6 {
  padding: 15px;
  text-align: center;
  font-size: 30px;
}
.box1 .item5 p {
  text-align: center;
  padding: 10px;
  line-height: 1.2;
}
.box1 .item6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box1 .item6 h6 {
  padding: 15px;
  text-align: center;
  font-size: 30px;
}
.box1 .item6 p {
  text-align: center;
  padding: 10px;
  line-height: 1.2;
}
.box1 .item7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box1 .item7 h6 {
  padding: 15px;
  text-align: center;
  font-size: 30px;
}
.box1 .item7 p {
  text-align: center;
  padding: 10px;
  line-height: 1.2;
}
.box1 .item8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box1 .item8 h6 {
  padding: 15px;
  text-align: center;
  font-size: 30px;
}
.box1 .item8 p {
  text-align: center;
  padding: 10px;
  line-height: 1.2;
}
.box1 .item9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box1 .item9 h6 {
  padding: 15px;
  text-align: center;
  font-size: 30px;
}
.box1 .item9 p {
  text-align: center;
  padding: 10px;
  line-height: 1.2;
}
.box1 .item10 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box1 .item10 h6 {
  padding: 15px;
  text-align: center;
  font-size: 30px;
}
.box1 .item10 p {
  text-align: center;
  padding: 10px;
  line-height: 1.2;
}
.box1 .item11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box1 .item11 p {
  text-align: center;
  padding: 10px;
  line-height: 1.2;
}
.box1 .item12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box1 .item12 h6 {
  padding: 15px;
  text-align: center;
  font-size: 30px;
}
.box1 .item12 .iconos {
  display: flex;
  justify-content: center;
}
.box1 .item12 i {
  padding: 15px;
}
.box1 .item13 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box1 .item13 h6 {
  padding: 15px;
  text-align: center;
  font-size: 30px;
}
.box1 .item13 .iconos {
  display: flex;
  justify-content: center;
}
.box1 .item13 .iconos i {
  padding: 9px;
}
.box1 .item14 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box1 .item14 h6 {
  padding: 15px;
  text-align: center;
  font-size: 30px;
}
.box1 .item14 .iconos {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.box1 .item14 .iconos img {
  height: 30px;
  widows: 30px;
}
.box1 .item15 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.box1 .item15 h6 {
  padding: 15px;
  text-align: center;
  font-size: 30px;
}
.box1 .item15 p {
  text-align: center;
  padding: 10px;
  line-height: 1.2;
}
.box1 .item16 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 .item16 a {
  text-decoration: none;
  color: #BFB3A8;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.trabajos-body {
  background-color: #313940;
}

.trabajos-titulo {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}
.trabajos-titulo h1 {
  text-align: center;
  font-size: 13.5vw;
  line-height: 0.9;
  color: #8C6F56;
}
.trabajos-titulo p {
  text-align: center;
  font-size: 3vw;
  line-height: 0.2;
  color: #BFB3A8;
}

.gal {
  width: 100%;
  height: 30vh;
  overflow: hidden;
}
.gal img {
  width: 120%;
  height: 120%;
}

.servicios-texto {
  color: #8C6F56;
}

#nav-tab a {
  color: #BFB3A8;
}

.card img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .btn {
  background-color: #25336F;
}
.card .btn a {
  text-decoration: none;
  color: #BFB3A8;
}
.card .card-body {
  background-color: #313940;
  color: #BFB3A8;
  text-transform: capitalize;
}

.mapa {
  width: 100vw;
  height: 400px;
}

.container {
  font-family: "Bebas Neue", sans-serif;
  color: #BFB3A8;
}
.container .der {
  padding-top: 10%;
}
.container h3 {
  font-size: 50px;
}
.container .izq label {
  font-size: 30px;
}

.certificado-box .card {
  background-color: #BFB3A8;
  padding: 5px;
}
.certificado-box .card img {
  width: 100%;
  border-radius: 5px;
}
.certificado-box .card .card-body {
  background-color: #BFB3A8;
  color: #313940;
}

.list-group li {
  background-color: #BFB3A8;
}
.list-group .btn {
  color: #BFB3A8;
}

@media (max-width: 600px) {
  .redes {
    top: 50%;
  }
}/*# sourceMappingURL=style.css.map */