*{
    margin: 0;
    padding: 0;
}

.box{
    display: block;
    text-align: center;
    vertical-align: middle;
        h1{
            font-size: 400px;
        }
        h2{
            font-size: 280px;
        }
        h3{
            font-size: 95px;
        }
}

