* 
    margin: 0
    padding: 0


$color1: #25336F
$color2: #03243F    
$color3: #313940
$color4: #8C6F56 
$color5: #BFB3A8
// index inicia
.navbar
    background-color: $color3
    a
        color: $color5

.jae
    color: $color2

.sector-1
    text-align: center
    font-family: 'Bebas Neue', sans-serif
    background-color: $color3
    color: $color5
    h1
        font-size: 400px
        line-height: 0.7
        padding-top: 80px
    h2
        font-size: 270px
        line-height: 0.7
    h3
        font-size: 90px
        line-height: 0.7

.redes
    background-color: $color3
    position: absolute
    display: flex
    flex-direction: column
    top: 25%
    left: 3%
    font-size: 40px
    a
        color: $color5

footer
    background-color: $color3
    color: $color5
    a
        color: $color5

.footer-logo
    font-family: 'Bebas Neue', sans-serif
    color: $color5
    display: flex
    flex-direction: column
    .x1
        font-size: 150px
    .x2
        font-size: 75px
        line-height: 0.1 

.footernav        
    color: $color5
    padding: 20px

.footer-contacto
    padding: 20px
    color: $color5

.copyright
    text-align: center
    color: $color5
// index finaliza
